services:
  app:
    build: ./app
    ports:
      - "3000:3000"

  python:
    build: ./python
    ports:
      - "5001:5001"

  libreoffice:
    build: ./libreoffice
    ports:
      - "5002:5002"

  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_PASSWORD: password
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
