version: "3.9"

services:
  app:
    build: ./app
    ports:
      - "3000:3000"
    environment:
      # Add any frontend env vars here if needed
      NEXT_PUBLIC_PYTHON_SERVICE_URL: http://python:5001
    depends_on:
      - python

  python:
    build: ./python_libreoffice
    ports:
      - "5001:5001"
    environment:
      PORT: 5001
    depends_on:
      - db

  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_USER: postgres
      POSTGRES_DB: morphly
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
